<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heima.dao.RolesMapper">
    <!--实体类的属性和数据库的字段不一致，需要配置resultmap进行一一对应-->
    <resultMap id="roleAndUser" type="roles">
        <id property="ID" column="ID"></id>
        <result property="roleName" column="ROLE_NAME"></result>
        <result property="roleDesc" column="ROLE_DESC"></result>

        <!--配置一对多的映射     多对多说白了，就是两个一对多-->
        <collection property="users" ofType="users">
            <id property="id" column="uid"></id>
            <result property="username" column="username"></result>
            <result property="birthday" column="birthday"></result>
            <result property="sex" column="sex"></result>
            <result property="address" column="address"></result>
        </collection>
    </resultMap>
    <select id="findAll" resultMap="roleAndUser">
      SELECT u.*,r.ID AS rid,r.ROLE_DESC,r.ROLE_NAME FROM `user` u
       LEFT JOIN user_role ur ON u.id=ur.UID
       LEFT JOIN role r ON r.ID=ur.RID
    </select>
</mapper>